extends layout

block content
  h1=title
  p This is a map of all sensors available
  #map
  script(type='text/javascript').
    var data = !{JSON.stringify(data)};
  script(src='javascripts/maps.js').
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAPfIG2Vqfaxr_Qf7zCToSCjJ3iG4-CndA&callback=initMap' async defer).

