html{
  height: 80%;
}
body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
}

a {
  color: #00B7FF;
}

ul {
  list-style-type: none;
}

#map{
  height:100%;
}
